# If you want electrum-pot to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-pot.desktop

[Desktop Entry]
Comment=Lightweight Potcoin Client
Exec=electrum-pot %u
GenericName[en_US]=Electrum-POT
GenericName=Electrum-POT
Icon=/usr/share/app-install/icons/electrum-pot.png
Name[en_US]=Electrum Potcoin Wallet
Name=Electrum Potcoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/potcoin

